
@{
    List<Empleado> favoritos = memoryCache.Get<List<Empleado>>("FAVORITOS");
}
<h1>Los favoritos</h1>

   
<p>
    <a asp-controller="Empleados"
       asp-action="EmpleadosAlmacenadosV5">
        Empleados Almacenados V5
    </a>
</p>
<p>
    <a asp-controller="Empleados"
       asp-action="SessionEmpleadosV5">
        Volver a empleados
    </a>
</p>
<h2 style="color:brown">@ViewData["MENSAJE"]</h2>
@if (favoritos != null)
{
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Oficio
                </th>
                <th>
                    Salario
                </th>
                <th>
                    IdDepartamento
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in favoritos)
            {
                <tr>
                    <td>
                        @item.IdEmpleado
                    </td>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.Oficio
                    </td>
                    <td>
                        @item.Salario
                    </td>
                    <td>
                        @item.IdDepartamento
                    </td>
                    <td>
                        <a asp-action="EmpleadosFavoritos" 
                        asp-controller="Empleados"  
                        asp-route-ideliminar="@item.IdEmpleado"
                        class="btn btn-warning">
                            Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }